@import url('https://fonts.google.com/specimen/Oswald');

html, body {
  margin: 0;
  padding: 0;
  background: rgb(63, 52, 58);
}
canvas {
  display: block;
}

a#Valentina{ 
  font-weight:bold; 
  font-family:Verdana, Arial, Tahoma, Serif; 
  background: pink; 
    color: white; 
} 

a#Valentina{ 
  font-weight:bold; 
  font-family:Verdana, Arial, Tahoma, Serif; 
  background: lightblue; 
    color: mediumpurple; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate (-50%, -50%); 
    box-shadow: 1px 1px 30px black; 
    padding: 1rem 2rem; 
    border-radius: 5px; 

} 

a#Valentina:hover{ 
    background:pink; 
    color:mediumpurple; 
    transition:all ease 1s; 
    top: 55%; 
        box-shadow: 1px 1px 10px black; 
}
